.hotdog{
    background-color:blanchedalmond;
   
    text-align: center;
}
.cheese{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    

}
.dog{
    text-align: center;
    background-color: crimson;
    color: white;
    
}
.cat{
    text-align: center;
    background-color: tomato;
    color: white;
   
}
.hot{
    text-align: center;
    background-color:gold;
    color: white;
    
}
.hat{
    text-align: center;
    background-color:rgb(121, 179, 33);
    color: white;
    
}
.table{
    color:white;
}